
#wraper{
	font-family: Arial, serif;
	font-size: 14px;
	color: white;
}
#wraper a{
	color: white;
}
#header .main-menu li a:hover
{
	color:#fed136; 
}
.container-fluid{
	padding: 0;	
}
.navbar-default{
	background-color: transparent;
	border: none;
}
.main-menu{
	width: 80%;
	margin: 0 auto;	
}
.collapse li{
	text-transform: uppercase;
}
.navbar-header a, .navbar-collapse, .navbar-collapse .nav a{
	padding:0;
}
.navbar-collapse li{
	padding: 0;
	padding-left: 42px;
}
.navbar-collapse ul li a{
	line-height: 28px;
}
.logo i{
	display: block;
	width: 79px;
	height: 28px;
	background: url(image/Logo-Treehouse.png) no-repeat;
}
.navbar{
	min-height: 0;
	margin-bottom: 0;
}
.main-menu{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
}

#slaid1{
	text-align: center;
	min-height: 727px;
	background: url(image/Tint.jpg) no-repeat;
	background-size: cover;
}
#slaid1 .text{
	position: absolute;
	left: 0;
	right: 0;
	top: 300px;
}
#slaid1 .text h3{
	font-size: 40px;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}
#slaid1 .text h1{
	font-size: 75px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.btn{
	padding: 13px 30px;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	background-color: #fed136;
	margin-top: 50px;
}
#slaid2{
	min-height: 568px;
	text-align: center;
}
#slaid2 .col-lg-12, #slaid2 .row, #slaid2 .col-lg-4{
	padding: 0;
	margin: 0;
}
#slaid2 .col-lg-12 > h3{
	color: #222222;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Arial", serif;
	padding: 0;
	margin: 0;
	margin-top: 120px;
	margin-bottom: 20px;
}
#slaid2 .col-lg-12 > p{
	color: #777777;
	font-size: 16px;
	text-transform: none;
	font-family: "Times New Roman", serif;
	font-family: "Arial", serif;
	padding: 0;
	margin: 0;
}
#slaid2 .col-lg-4 > img{
	margin-top: 80px;
	margin-bottom: 25px;
}
#slaid2 .col-lg-4 > h3{
	color: #222222;
	font-size: 18px;
	text-transform: none;
	font-weight: bold;
	font-family: Arial, serif;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
#slaid2 .col-lg-4 > p{
	color: #777777;
	font-size: 18px;
	text-transform: none;
	font-family: "Times New Roman", serif;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

#slaid2 .image .col-lg-4{
	padding: 0 30px;
}

#slaid2 .image{
	max-width: 1025px;
	margin: 0 auto;
}